/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*////////////// END OF CSS RESET ////////////////*/

@font-face {
    font-family: 'Source Sans Pro';
    src: url(./fonts/SourceSansPro-ExtraLight.ttf);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(./fonts/SourceSansPro-Light.ttf);
    font-style: normal;
    font-weight: 400
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url(./fonts/SourceSansPro-Regular.ttf);
    font-style: normal;
    font-weight: 500
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url(./fonts/SourceSansPro-SemiBold.ttf);
    font-style: normal;
    font-weight: 600
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url(./fonts/SourceSansPro-Bold.ttf);
    font-style: normal;
    font-weight: 700
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url(./fonts/SourceSansPro-Black.ttf);
    font-style: normal;
    font-weight: 800
}


@font-face {
    font-family: 'Source Sans Pro';
    src: url(./fonts/SourceSansPro-BlackItalic.ttf);
    src: url(./fonts/SourceSansPro-BoldItalic.ttf);
    src: url(./fonts/SourceSansPro-SemiBoldItalic.ttf);
    src: url(./fonts/SourceSansPro-Italic.ttf);
    src: url(./fonts/SourceSansPro-LightItalic.ttf);
    src: url(./fonts/SourceSansPro-ExtraLightItalic.ttf);
    font-style: italic;
}

:root {
    font-size: 10px;
    font-family: 'Source Sans Pro', sans-serif;

    --fuchsia-50: #fdf4ff;
    --fuchsia-100: #fae8ff;
    --fuchsia-200: #f5d0fe;
    --fuchsia-300: #f0abfc;
    --fuchsia-400: #e879f9;
    --fuchsia-500: #d946ef;
    --fuchsia-600: #c026d3;
    --fuchsia-700: #a21caf;
    --fuchsia-800: #86198f;
    --fuchsia-900: #701a75;
    --highlight-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.232);
}

.hidden {
    display: none;
}

body {
    color: black;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 100px 1fr;
    width: 100vw;
    height: 100vh;
}

/* width: min(300px, ) */
header {
    position: relative;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    background-color: #e7e7e7;
    display: flex;
    align-items: end;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.23);
}

nav {
    grid-row: 2 / -1;
    grid-column: 1 / 2;
    background: #eeeeee;
    padding-top: 25px;
    padding-left: 25px;
}

main {
    grid-row: 2 / -1;
    grid-column: 2 / -1;
    /* background-color: #ffffee; */
    background-image: radial-gradient(#fffffe, #ffffee);
    box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.23);
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    overflow: scroll;
}

/* hr {
    background-color: rgb(21, 161, 255);
    width: 100%;
    height: 1px;
    border: none;
} */

.categories-header {
    width: 250px;
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-weight: 400;
    padding-bottom: 10px;
    padding-left: 10px;
}

.categories-header > img, .to-do-header > img {
    /* display: none; */
    height: 30px;
    padding: 5px;
    padding-left: 4px;
    padding-right: 6px;
    border-radius: 100%;
    margin-left: 3px;
    transition: background-color, .3s, box-shadow, .15s;
}
.categories-header > img:hover, .to-do-header > img:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.211);
    box-shadow: var(--highlight-shadow);
}

.todo-header {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 5rem;
    margin-left: 10px;
    margin-bottom: 5px;
}
.todo-header > img {
    font-size: 0px;
    height: 45px;
    padding: 4px;
    margin-left: 10px;
    border-radius: 100%;
    transform: rotate(270deg);
    transition: background-color, .3s, box-shadow, .15s;
}
.todo-header > img:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.211);
    box-shadow: var(--highlight-shadow);
}

.category {
    display: flex;
    align-items: center;
    gap: 7.5px;
    padding: 5px 10px;
    padding-left: 7.5px;
    font-size: 2rem;
    margin-bottom: 5px;
    border-radius: 15px;
    transition: background-color, .2s, box-shadow, .2s;
    width: fit-content;
    font-weight: 400;
}
.category:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.211);
    box-shadow: var(--highlight-shadow);
}
.category > img {
    height: 25px;
}
.category:first-child {
    font-weight: 600;
}

.projects-header {
    margin-top: 25px;
    font-weight: 500;
}
.projects-header:hover {
    background-color: transparent;
    box-shadow: none;
}
.projects-header > img {
    padding: 5px;
    padding-left: 3px;
    padding-right: 7px;
    border-radius: 100%;
    transform: rotate(270deg);
    transition: background-color, .2s, box-shadow, .2s;
}
.projects-header:hover > img {
    background-color: rgba(0, 0, 0, 0.211);
    box-shadow: var(--highlight-shadow);
}

li.project.category {
    margin-left: 30px;
    font-weight: 400;
}
.project.category > div {
    background-color: rgb(0, 255, 17);
    width: 9px;
    height: 9px;
    border-radius: 100%;
    border: .5px black solid;
}
.project {
    font-size: 2rem;
}

.to-do-header {
    display: flex;
    align-items: center;
    font-size: 3.5rem;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 15px;
}
.to-do-header > img {
    font-size: 0px;
    height: 30px;
    margin-left: 5px;
    transform: rotate(270deg);
}

.to-do-item {
    display: flex;
    font-size: 2rem;
    align-items: center;
    background-color: #fff;
    border: 1px black solid;
    transition: background-color, .2s;
    width: 100%;
    padding-right: 10px;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
/* .to-do-item:hover {
    cursor: pointer;
} */

.to-do-item > p {
    padding: 4px 5px;
    border-radius: 20px;
    font-weight: 500;
    transition: background-color, box-shadow, .15s;
}
.to-do-item > p:hover {
    background-color: rgba(0, 0, 0, 0.211);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.232);
    cursor: pointer;
}

.to-do-item > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid rgb(0, 0, 0);
    width: 16px;
    height: 16px;
    margin-left: 10px;
    margin-right: 4px;
    border-radius: 50%;
}
.to-do-item > div > div {
    width: 8px;
    height: 8px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
}
.to-do-item > .to-do {

    cursor: pointer;
}

.options {
    display: flex;
    align-items: center;
    gap: 3px;
    margin-left: auto;
}

.options > img {
    font-size: 0;
    height: 35px;
    border-radius: 5px;
    transition: background-color, .2s;
}

.options > img:hover {
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}


.date {
    font-size: 16px;
    margin-right: 5px;
}

main > input {
    margin-left: 20px;
    
}

/* .check-circle {
    display: none;
} */

.to-do-overlay {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.319);
}
.to-do-overlay.hidden {
    display: none;
}

fieldset {
    height: 500px;
}

.to-do-overlay .fieldset-wrapper {
    display: grid;
    row-gap: 10px;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    background-color: #fff;
    border: black solid 2px;
    border-radius: 9px;
    width: 600px;
    height: 100%;
    padding: 20px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.371);
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.371);
}

.fieldset-wrapper > img {
    height: 40px;
    grid-column: -2 / -1;
    margin-left: auto;
    margin-right: 5px;
    border-radius: 50%;
    margin-top: 7.5px;
    transition: background-color, .15s;
}

.fieldset-wrapper > img:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.232);
}

.fieldset-wrapper > legend {
    font-size: 38px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.fieldset-wrapper > div {
    display: flex;
    align-items: center;
    gap: 35px;
}

.fieldset-wrapper > div > label {
    font-weight: 600;
    font-size: 22px;
    vertical-align: bottom;
}

.fieldset-wrapper > div > input, .fieldset-wrapper > div > select {
    width: 100%;
    height: 4rem;
    font-size: 16px;
    padding-left: 5px;
    border-radius: 6px;
    border: solid 1px black
}
.fieldset-wrapper > div > textarea {
    width: 100%;
    height: 85%;
    font-size: 15px;
    padding-left: 5px;
    border-radius: 6px;
    font-family: 'Source Sans Pro', sans-serif;
    border: solid 1px black
}

.task-form {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.date-form {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}
.priority-form {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
}
.notes-form {
    grid-row: 5 / 6;
    grid-column: 2 / 3;
}
.notes-form > label {
    vertical-align: top;
}
.project-form {
    grid-row: 6 / 7;
    grid-column: 2 / 3;
}

.fieldset-wrapper > button {
    grid-row: -2 / -1;
    grid-column: 2 / 3;
    width: 250px;
    margin: auto;
    height: 45px;
    background-color: #fff;
    border: 2px black solid;
    border-radius: 6px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.223);
    font-size: 16px;
    cursor: pointer;
    transition: background-color, .15s, box-shadow, .15s, transform, .15s;
}

.fieldset-wrapper > button:hover {
    background-color: rgba(0, 0, 0, 0.062);
}
.fieldset-wrapper > button:active {
    background-color: rgba(0, 0, 0, 0.062);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.223);
    transform: translate(1px, 1px);
}